<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>AngularJS Playground</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="app.js"></script>
  </head>
  <body ng-app="myApp">
    <div class="container">
      <div class="row text-center">
        <h1>AngularJS Playground</h1>
      </div>
      <div class="row text-center" ng-controller="HeroNamePower">
        <h4>Hero Name Calculator</h4>
        Insert your Hero Name:
        <input type="text"
          ng-model="name"
          ng-keyup="displayPower();">
        <div>Total numeric value of Hero's Name is: {{totalValue}}</div>
      </div>
      <hr>

      <div class="row text-center">
        <h4>Convert number to currency</h4>
      </div>
      <div class="row text-center" ng-controller="CurrencyValue">
        <input type="number" ng-model="value" ng-blur="numToMoney();">
        <div>Currency Value: {{currency}}</div>
      </div>
      <hr>

      <div class="row text-center">
        <h4>Like or Dislike ?</h4>
      </div>
      <div class="row text-center" ng-controller="LikeCtrl">
        <button class="btn btn-primary" ng-click="like();">Like</button>
        <button class="btn btn-danger" ng-click="dislike();">Dislike</button>
        <h4>
          {{message() | uppercase}}
          <span class="glyphicon glyphicon-thumbs-{{choice}}"></span>
        </h4>
      </div>
      <hr>

      <div class="row text-center">
        <h4>Binding</h4>
      </div>
      <div class="row text-center" ng-controller="BindingCtrl">
        <h5><strong>1-time binding</strong></h5>
        <p>{{::fixedValue}}</p>
        <h5><strong>1-way binding</strong></h5>
        <button class="btn btn-primary" ng-click="change1w();">Change my status</button>
        <span> => I am {{btn}}</span>
        <h5><strong>2-way binding</strong></h5>
        <input type="text"
          ng-model="bind2"
          >
        <span> => {{bind2}}</span>
      </div>
      <hr>

      <div class="row text-center">
        <h4>ng-repeat</h4>
      </div>
      <div class="row" ng-controller="CityListCtrl">
        <ul>
          <li ng-repeat="city in cityList" class="col-xs-12 col-sm-6 col-md-4">
            <p>City: {{ city.city }} - Number: {{ $index + 1 }}</p>
            <p> Country: {{ city.country }} - Code: {{ city.code }}</p>
            <p></p>
            <p>Latitude: {{city.lat}}</p>
            <p>Longitude: {{ city.lng }}</p>
            <p>Timezone: {{ city.timezone }}</p>
          </li>
        </ul>
      </div>
      <hr>

      <div class="row text-center">
        <h4>ng-repeat with filter</h4>
      </div>
      <div class="row text-center" ng-controller="PersonListCtrl">
        <input type="text" ng-model="search">
        <ul class="list-group">
          <li ng-repeat="person in personList | filter : search" class="list-group-item">
            {{ person.name }}
          </li>
        </ul>
      </div>
      <hr>

      <!-- Shop Cart with Custom Services-->
      <div class="row text-center">
        <h4>Shop Cart with Custom Services</h4>
      </div>
      <div class="row text-center" ng-controller="ShopCartAddCtrl as addItem">
        <input type="text" ng-model="addItem.itemName" placeholder="product name">
        <input type="number" ng-model="addItem.itemQuantity" placeholder="quantity">
        <button ng-click="addItem.addItem();">Add Product To Shop Cart</button>
      </div>

      <div class="row text-center" ng-controller="ShopCartShowCtrl as showItem">
        <ul>
          <li ng-repeat="item in showItem.items">
            {{ item.quantity }} of {{ item.name }}
            <button ng-click="showItem.remove($index);">Remove</button>
          </li>
        </ul>
      </div>
      <hr>

      <div class="row text-center">
        <h4>Timer Control</h4>
      </div>
      <div class="row text-center" ng-controller="TimerCtrl">
        <button ng-show="displayStart" class="btn btn-primary" ng-click="start();">Start</button>
        <button class="btn btn-default" ng-click="stop();">Stop</button>
        <button class="btn btn-danger" ng-click="reset();">Reset</button>
        <p>Time: {{time}} s</p>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
